body {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    background-color: turquoise;
}

h1 {
    color: #333;
}

#display-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

#display-btn:hover {
    background-color: #45a049;
}
