<!DOCTYPE html>
<html>
<head>
    <title>The Name of the Rose</title>
</head>
<body>
    <h1>The Name of the Rose</h1>
    <p>The Name of the Rose by Umberto Eco is still fresh in my mind, 
        as fresh as the sincere curiosity of Adso when he enters that 
        diabolical monastery at the start of the story. Umberto takes
        a seemingly alien, cryptic and far removed period of history 
        and brings it to a supreme fullness of life that is both extremely
        intelligent and erudite, and also comedically witty and satirical;
        this combination is the formula for the success of this book, 
        where an everyday reader can feel the connection to a 14th century 
        Franscican monk who had studied with both Francis Bacon and William of Occam.
        The pleasure in reading this book also lies in the stunningly beautiful writing
        that Eco employs to describe the mediaeval way of life the Benedictine monks 
        are living, in all the fantastic imagery, symbolism and philosophy of the Catholic
        world of Western Europe at this time, as well as the gruesome, tyrannical and absurd
        schisms and rents in the men of God. Reading this work, one feels both the sublimity 
        and perversity of the monastic life.</p>
</body>
</html>
