{% extends "layout-main.html" %}
{% block content %}

    <div class="ui container">
        <h1 class="ui header">Welcome to Jacob's book reviews</h1>
        <p>This is the index page for all the avaliale reviews and latest content.</p>
        <p>Click one of the review title's below to start reading:</p>
        <ul>
            {% for review in reviews %}
                <li>
                    <a class="ui teal button" href="/reviews/{{ review }}">{{ review[:-5] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}

