{% extends "layout-main.html" %}
{% block content %}
<div class="ui container">
    <div class="ui container review" style="background-image: url('/static/images/Creation.jpg')">
        <h1 class="ui header title header">Creation</h1>
        <h5 class="ui header author header">By Gore Vidal</h5>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="description">
                <p>Gore Vidal provided a thick warm, historical blanket for me to snuggle under, which I promptly
                    wrapped around myself at any chance I got; on my chair, my couch, my bed or on the outside in the
                    park and on the tube. Such a well woven tale was not a surprise coming from Vidal. I had read his
                    work on the Roman Emperor Julian before this, and it was also a fantastically interesting pleasure
                    to work my way through. Even though Creation is set in the 5th Century BCE I do feel like the
                    characters in this novel, big names and small, all feel very human, and their struggles and battle
                    of ideas are incredibly relatable and refreshing in their depth. It covers a breadth of
                    philosophies, religions and cultures, and deals with real historical figures and events in an
                    engaging and dramatic manner which shifts one’s perspective on history into a new light. There are
                    times when it drags on a bit too much in China and India, as I personally think the story
                    surrounding the Persian Empire and the Greek Wars is more colourful and fun. Overall I would
                    recommend this to people looking to read a story where you’ll learn more about classical history and
                    ancient philosophies, whilst having an entertaining time reading about court intrigue and unique
                    personalities. </p>
                <p>
                    Our protagonist, Cyrus Spitama, is a half Greek, half Persian nobleman, who is the grandson of
                    Zoroaster, and the last person to see him alive. For this role as holy witness, he is forever
                    associated with his grandfather’s preachings and spiritual ideas regarding the Wise Lord, Light and
                    Darkness, and the eternal battle between Truth and the Lie. Cyrus, although he defends the religion
                    numerous times and is shown to criticise the devil worship he sees practised in own his own country
                    and within the priestly caste, is not a total fanatic; by the end of the book, after being exposed
                    to so many peoples who are absolutely convinced on their own specific theories on the genesis of the
                    world and the way to live justly and right, it has all becomes a blur for him and in his old age he
                    is confused on what is true and right. In India he meets the theories of cycles and endless lives,
                    where the only escape is a total detachment from this world. The only person who has managed to
                    ‘come and go’ is the Buddha, ‘the Enlightened One’, who has found total detachment from this dream
                    that all live in. He will not reincarnate and will perish forever, a candle whose flame is snuffed,
                    a fact that all the Indians are envious of. </p>
                <p>In ‘Cathay’, what we call modern day China, the guiding philosophy is much more grounded and
                    authoritarian, with a vast, sweeping ritualised culture which has endless rules to placate ‘heaven’.
                    The Cathayans are in disarray, as their ‘son of heaven’ who leads over the whole of China has been
                    missing for three hundred years, and they believe it is the disrupted balance that has caused the
                    ire of heaven. Lao Tzu describes Tao, or ‘the Path’, and Confucius describes the manifold rituals to
                    be in harmonic balance with heaven, quoting from his vast learned knowledge. Despite the incredible
                    amount of governing laws, the Cathayans still have duplicitous and power hungry men, who find a way
                    to navigate through this checked society. Between these, and the more atheistic Greeks (I’m looking
                    at you Democritus), Vidal displays a greatly erudite knowledge set, that is playfully transferred to
                    you through the captivating character stories. </p>

                <p> The actual story of Creation, is told through the recorded words of Cyrus Spitma in his old age, in
                    Athens as the Great King’s ambassador, by his grand nephew, the atomic philosopher Democritus on
                    papyrus paper. The interaction between Cryus and the young Greek philosopher is really funny.
                    Democritus is seen to be constantly questioning and commenting on Cyrus’s narration, providing a
                    counter to the older, solemn, religious Persian nobleman with the younger, cynical and atheistic
                    democrat, who defends Cyrus’s caustic remarks about Athenians and the Greeks in general. This is
                    shown through Democritus’ admonishing remarks interspersed through the text, and provides a humorous
                    background to the narration. There’s an undertone of despair in Cyrus’ narration, as he reveals the
                    juxtaposition of ideas and ways to live throughout his long travels, a sense that he’s adrift in his
                    knowledge and has no firm conviction, despite his Zoroastrian foundation . I think one of the
                    overall themes of Creation is the fact that no person, no civilisation even, has a real idea on the
                    origins and reasons for existence. Just one of the peoples expounded upon are the atheistic Greeks,
                    who are cynical and scientific. One of the first characters introduced being Anaxagoras, a
                    philosopher held in high regard by General Pericles, believes the sun is a fiery rock, and that
                    matter is in constant flux. As the journey continues, the overwhelming contrast between religions
                    and philosophies crescendo to a swirling cacophony that drowns out the previously firmly held
                    convictions of our protagonist and ourselves. </p>

                <p> Overall I found Creation to be an enjoyable read. The sections which felt drawn out, were made up by
                    Gore Vidal's erudite expertise on the subject matter, depicted in a human, non-academic light which
                    really made it a lot more accessible and enjoyable. The only other complaint is what I felt to be
                    too long a focus on his travels in India and Cathay, which I will admit is because of my bias in
                    preference for ancient Persia and Greece. Anyone with an interest in the classics and ancient
                    civilisations will find something to love in this book. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}