{% extends "layout-main.html" %}
{% block content %}
<div class="ui container">
    <div class="ui container review" style="background-image: url('/static/images/Diplomacy.jpg')">
        <h1 class="ui header title header">Diplomacy</h1>
        <h5 class="ui header author header">By Henry Kissenger</h5>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="description">
                <p>The key feeling I have associated with reading <em>Diplomacy</em> by Henry Kissenger, is the
                    sensation of
                    being told a story by some wise old sage, haggard from his advanced age and extensive experience,
                    next to a slowly crackling fire. Kissenger’s style is such that you never feel suffocated from the
                    weight of the four hundred years of international politics and statecraft, or exhausted from the
                    countless analyses of politicians and political philosophy; instead you have that sense of a
                    scholared, open and unaffected person trying to explain to you his world view, and the facts
                    surrounding said view. Not once was the history of international relations weighed down with
                    complicated jargon or esoteric references. It is colourful and lively, with the dusty crags of
                    history are revitalised and made evocative through a mixture of his passionate, extremely well
                    informed opinions and theories, and also the tremendous lived experience as Nixon’s Secretary of
                    State that he lends to the text. As well as that potent mixture, Kissenger is a natural storyteller
                    that makes history come alive and interesting, an attribute that makes reading history such a joy,
                    and such a trial if it is missing. The only downside to this book that I could see for a casual
                    reader is the immense length of the text; it is definitely a commitment, and by the time you reach
                    the 1970s section of the narrative, you could feel overwhelmed with the colossal size of his
                    overarching analysis. I think Kissenger has the capacity to capture you in this book and make you
                    reminisce of a simpler time listening to a teacher explaining the world to you in a new and
                    fascinating way. If you have will, you can pick through this book and always find something to keep
                    you going.</p>
                <p>I will briefly attempt to summarise the main narrative of this political commentary, to give you, the
                    reader, an idea on what can be found and what you can take away from this book. Kissenger gives a
                    brief introduction on the unique nature of the United States of America’s worldview in regards to
                    international relations. He explains the dichotomy in America’s image of itself, between the
                    Wilsonian ideals of a crusading democracy out to fight injustice and oppression around the world,
                    and the cold reality of the rules surrounding the workings of nations states and their relations to
                    each other; he draws the comparison in order to highlight the contradictory position America finds
                    itself in the years after the collapse of the USSR as the world hegemon. These ideals, although
                    idealistic and lofty, fail to hold up in the crushing arena of <em>realpolitik</em> that Kissenger
                    espouses.
                    His theory is that the US must acknowledge its role, and view itself and its foreign policy
                    objectives through this lens. The book then covers around four hundred years of mostly European and
                    then US-Russia state relations, and the evolution of international relations from the cradle of
                    Westphalia. The application his thought, of state self interest, starts from Cardinal Richileu’s
                    <em>raison d'etat</em> in the Thirty Years War, to Bismarck’s <em>realpolitik</em> in the late 19th
                    Century
                    European
                    state system, through his tenure in Nixon’s administration where he opened up China, all the way to
                    Gorbachov’s premiership and the collapse of the USSR as a political entity. The success of
                    calculated reasoning and self interest over ideology is the crux of Kissenger’s narrative, and he
                    succeeded in convincing me of the validity of his version of history.
                </p>


                <p>If you’re a previous history buff, or brand new one trying to find out more about the world, I
                    believe the language and structure of the content is appealing to both sets of readership. The only
                    negative is the daunting scale of the work; if the size is overwhelmingly unappealing I do recommend
                    his other work World Order, which is a much more succinct summary of this book, and is also highly
                    enjoyable. Fat Dog reads gives this a ⅘. </p>


            </div>
        </div>
    </div>
</div>
{% endblock %}