{% extends "layout-main.html" %}
{% block content %}

    <div class="ui container">
        <h1 class="ui header">Midnight's Children</h1>
        <h5 class="ui header">By Salman Rushdie</h1>
        <div class="ui card">
            <div class="content">
                <div class="description">
                    <p>Midnight’s Children was a journey into the magical conception of modern India; a phantasmagoric tale where the boundaries 
                        between the hard reality of historical fact and the illusory, amorphous family narrative of Saleem Sinai blur and blend 
                        into each other, weaving a uniquely Salman Rushdie narrative. Similarly, the combination of storytelling techniques that 
                        Rushdie employs is in itself a thing apart from most traditional fiction; it is recursive,digressive, self aware, patched
                         with Saleem’s, the named author of this ‘history’, reflections on his own skills and deficits as an author, and chock-full
                          of foreshadowing and irony. The pacing of events related to both the symbolic characters and India’s modern history, along
                           with the level of detail within the story, rise and fall throughout the book, with one of my only complaints being that towards
                            the last third of the book the quick succession of events combined with less character driven detail creates a suffocating
                             effect of whirling through the story with nothing to hold on to. Although probably intended by Rushdie, it left me wishing 
                             the story had ended with the same mystically appealing descriptions and characters he had created throughout most of the book. </p>

                <p> This book concerns both the family of Saleem Sinai, his grandparents meeting in Kashmir, their immediate children which include his mother, the 
                    sister and father he grew up with, and also the history of the formation of India as a nation. The link between Saleem and the newly born country 
                    is most clearly demonstrated by his date of birth, which is just at the stroke of midnight in 1947 when India is partitioned and granted independence 
                    from the British. All those born at the midnight hour, including Saleem, are granted a fantastic array of magical powers, which link them all as the 
                    eponymous children of midnight, born at the same moment as their nation. Throughout the narrative of Saleem’s life, events, directly and indirectly, 
                    that happen to him or that he causes influences the nation at large, and are reflected in the historical occurrences of India and Pakistan. The story 
                    grows erratically, organically and ambiguously, mimicking the dream-like qualities that Salman Rushdie attributes towards the events of 1947 and the origin 
                    of modern India. </p>

                <p>
                    The narrative structure and nature of this work is determined at the beginning of the story to be fallible; we have an unreliable narrator who admits his own
                    inadequacies of memory and chronology in writing out this history of his life and country; he is also not alone whilst fashioning his story, his partner Padma is
                    constantly asking questions and admonishing Saleem as she watches him write, creating many pauses and posing many questions to his choices in style, content and methodology.
                     Saleem is also extremely traumatized by many of the events of his past and sometimes grows greatly reticent to approach a subject or incident, spending many pages prevaricating with 
                     the reader. There are also a great deal of digressions into discussions that have no immediate bearing on the plot, which is when Saleem branches off into his own musings, or when he 
                     wields it as a tool to avoid difficult subjects.  Combined with an incandescent vocabulary, an adroit use of metaphors and allegory, and the intimacy of his writing, Salman Rushdie further
                      enhances the enjoyment of the novel and the magical, dreamlike element of the world he has built. 
                </p>

                <p>
                    When I first looked into this book before I undertook to read it, I found out that it was classed under magical realism, in the same genre as the authors Marquez, Borges, Calvino or Murakami.
                     A curious sense of this knowing something linked to this beforehand prompted me to take out my copy of Marquez’s magnum opus that was on the bookshelf. Looking at my Penguin Classics edition 
                     of One Hundred Years of Solitude I saw the comment on the front page was a praise of the book by none other than Salman Rushdie, which is where that deja vu type feeling must have come from. 
                     When I started reading this book I felt the overarching influence of Marquez, and almost found myself thinking at times that this was merely a less brilliant derivative of that genre defining 
                     book that Rushdie had himself praised. However, these feelings disappeared quickly as I realized the originality of style and intimacy that Rushdie brought to this book, as unique to India and
                      Pakistan as One Hundred Years of Solitude is unique to Colombia. Although at times the pacing of the work, and the cursory characters and the overbearing, corybantic storytelling that come later
                       on bring this overall rating down, this is a definite read for anyone who enjoys the Magical Realism genre, or who is interested in the birth of modern India through a literary lens.

                </p>
                </div>
            </div>
        </div>
    </div>
</html>
{% endblock %}
