{% extends "layout-main.html" %}
{% block content %}
<div class="ui container">
    <div class="ui container review" style="background-image: url('/static/images/On-the-Origins-of-War.jpg')">
        <h1 class="ui header title header">On the Origins of War</h1>
        <h5 class="ui header author header">By Donald Kagan</h5>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="description">
                <p>I chose <em>On the Origins of War and The Preservation of Peace</em> as my curiosity for the other
                    books
                    Donald Kagan had written, apart from his fantastic <em>The Peloponnesian War</em>, which had
                    captivated me
                    when I was younger, was roused by watching a great lecture of his on Youtube. Combined with the
                    allure from the summary of the book, his comparative historical analysis of five distinct periods of
                    conflict ( The Peloponnesian War , First World War, Punic War, Second World War and the Cuban
                    Missile Crisis), a method I had not previously experienced in so distinct a form, I was prompted to
                    return to his unique insights and perspective, which are the key ingredients for an entertaining
                    read of history. Although I was more drawn to the more localised wars of antiquity, Kagan managed to
                    capture and hold my attention whilst discussing events that would not usually be a usual interest of
                    mine, such as the administrative politics and lead up to the confrontation over Cuba between
                    Khrushchev and Kennedy, using his insanely intelligent narrative to keep things fresh and relevant.
                    Any student of international relations, sociology and human nature would have a lot to draw from
                    this book. </p>

                <p style="text-align: center;"> <em>““War is father of all, and king of all” </em> - <b>Heraclitus</b>
                </p>

                <p>Donald Kagan starts this book with an overview of its purpose and what he hopes people will get out
                    of it. Kagan himself was one of the most prominent historians in the United States at the time, his
                    histories of the Peloponnesian War propelling him to fame. Lecturing history at Yale his students
                    begged him to write down his teachings that he had been educating them with and compile them into a
                    book. This book is the result of the compilation, a brief look at origins of the five previously
                    mentioned conflicts. His idea is to draw and explain the parallels surrounding the decisions states
                    make that lead to war. The source of his main themes is the ‘father of history’, Thucydides, whose
                    objective and thorough history of the Athenian-Spartan conflict is the basepoint for all modern
                    history and international relations. These are namely
                    that there are three main attributes behind a state's reasoning for escalation and war; interest,
                    fear and honour. Kagan highlights the importance of honour as one of the main reasons states press
                    towards war, contradicting the modern sentiment that it no longer holds sway. Another theme he
                    constructs is that a lot of wars are not sought out by either side, but are started through a series
                    of linked events that escalate and narrow the paths available towards armed conflict. The last is
                    the need for strong action by states in dealing with crises to preserve peace. Many wars have
                    started due to the compliance and weak decision making leaders and countries demonstrate in times of
                    peace. Avoiding war requires a tremendous amount of will and resources.
                </p>


                <p>With these themes explored, Kagan fires away into the main body of the text, which is split into five
                    different sections, exploring the lead up, escalation and causes of war in each period of study,
                    linking back to the core concepts of interest, fear and honour throughout. As it is a comparative
                    historical piece, he also talks on the similarities of decisions made in the pursuit of avoiding and
                    assuaging rising tensions. It starts with the war between the Athenian Empire and the Spartan
                    Alliance, as the rising power of Athens threatens the status quo and pushes the Spartans and their
                    allies further and further towards a preemptive war. It ended in an internecine, devastating war for
                    the Greek world from which they never recovered, all starting over a small dispute between two of
                    the smaller powers on the edge of Greece. He then moves on to the build up to the First World War,
                    describing the final days of the Concert of Europe, the inexorable rise of the new Prusso-German
                    Reich which, after the dismissal of Bismark, increasingly asserts its rights to disrupt the existing
                    harmony of the international system. As the Great Powers struggle to maintain their prestige and
                    security, the breakdown of arbitration and trust lead to a binding Alliance system which is
                    increasingly tested and pushed until the assassination of Archduke Ferdinand sets off a chain
                    reaction, leading to the conflagration of Old Europe.</p>

                <p>Lastly is the section which covers the lead up and escalation of events between the United States and
                    the Union of Soviet Socialist Republics over Cuba, and the eventual cessation of conflict before
                    atomic war. Like the previous sections Kagan discusses the context of the period, the relative
                    geopolitical positions of the two superpowers, and the causes and events that lead up to the crisis.
                    This section is incredibly nuanced in its diagnosis of Kennedy and his administration, and the
                    relationship with the wily Khrushchev, as Kagan weaves the incredibly tense landscape that makes up
                    Revolutionary Cuba under Castro, and the USSR’s plans to have nuclear missile bases there. I found
                    this section the hardest to grasp by far. </p>

                <p>Donald Kagan managed to capture the essences of an incredibly diverse historical range, and explained
                    in an objective, articulate and entertaining manner the many <em>casus belli</em> that have plagued
                    the world
                    over the millenia. His understanding of both individual people and states at large on the world
                    stage is sophisticated and demonstrated by numerous examples, which makes this work illuminating and
                    a great starting point for anyone interested in these time periods or the history of international
                    relations in general. For example, my interest in the Punic Wars has been piqued again, and I can
                    only wish Kagan had written more extensively on Rome in general, as I would have loved his unique
                    perspective. I would kill a man for that. For anyone interested only in his studies of the ancient
                    Greek world and the Peloponnesian conflict, I would also highly recommend his first book I mentioned
                    at the beginning of this review.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}