{% extends "layout-main.html" %}
{% block content %}
<div class="ui container">
    <div class="ui container review" style="background-image: url('/static/images/Stalingrad.jpg')">
        <h1 class="ui header title header">Stalingrad</h1>
        <h5 class="ui header author header">Antony Beevor</h5>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="description">
                <p>Stalingrad. 1942. The world’s biggest ever conflict. The final showdown between the fatalistic,
                    fanatic, inspired Adolf Hitler with his devoted Wehrmacht, versus the materialistic, cold and
                    calculating Josef Stalin, backed by the Red Army made loyal through terror and patriotism. The two
                    egos collide on the banks of the river Volga, totalitarian dictator against totalitarian dictator,
                    all of the terrible events, stratagems and daily life of the soldier illustrated in stunning detail
                    and insight by Antony Beevor. Whilst reading this bookI felt amongst those many, many, poor, young
                    souls who had to suffer such an incredible amount of pain for being at the wrong time and place in
                    history, swept along by the unstoppable tides of history; it made me extremely conscious of all of
                    my ‘worries’ and ‘anguish’ that I feel I experience in my daily life, and how insignificant and
                    pathetic they hold to up to anyone on the Ostfront during those fateful years. Beevor’s
                    accessibility and wider perspective of the war, as well his extensive knowledge and erudition on the
                    two world leaders and how they conducted their operations, makes Stalingrad a breeze to go through;
                    one is captivated by both the many harrowing personal stories and anecdotes he provides, as well as
                    the general wider catastrophe as a whole. Effortless storytelling which makes the reading of history
                    so engrossing. </p>
                <p>
                    Antony Beevor starts right at the start of the action; his intentions are to set up the siege of the
                    city in the proper context, to display the full significance of what is happening there. Operation
                    Barbarossa and its routes, generals and decisions all are therefore integral to the tapestry that
                    Stalingrad is part of; without it you would not grasp all the subtle intricacies of policy and
                    leadership decisions, or the full consequences if the Germans were either to win or lose. He does
                    not shy away from the atrocities committed by both sides and is impartial in the ideological
                    confrontation, using it as part of his analysis of the conflict, how the ideology of each side
                    affected its ability and thinking. The city itself is painted in extraordinary descriptions; both
                    before the invasion as a modern paragon of the USSR’s new world vision, and the vast destruction and
                    razing of the city during the attack as it suffered many months of bombardment and urban warfare.
                    Beevor’s excellent use of private accounts and various diary entries, both from the top brass and
                    the lowest soldiers writing home to their loved ones, livens up the military history into a grand
                    narrative of all the myriad of personal stories that made up this colossal series of events.
                </p>
                <p> If you don't mind a torrent of regimental, divisional and battalion etc descriptions then you’ll
                    slowly lose yourself in Antony Beevor’s analysis of events. The author’s ability to deconstruct a
                    battle into its component parts and explain the reason it turned out the way it did, applied to
                    single encounters between armies and to the wider grand strategy of Nazi Germany’s invasion of the
                    Soviet Union just keeps the narrative flowing, and none of the tiny details he offers up to you seem
                    to distract from the wider message he is trying to convey. Not just relying on the formative facts
                    of Stalingrad to create a skeleton like structure of what took place, Beevor uses excerpts from
                    letters, telegrams and diaries all come together to form a wider picture of the human aspect of the
                    war, to illustrate the absolute life shattering changes that took place. A lot of history books skim
                    over the individual soldier' experience, to the detriment of the emotional attention of the reader.
                    This can’t always be blamed on the author, lot’s of events in history simply don’t have the primary
                    material to dive in depth into the mind’s and feelings of hundreds of participants; it is usually
                    limited to the elite’s perspective. Beevor is ‘lucky’ in the sense that a lot of the material is
                    recent, and has survived. Beevor is a captivating historian in the sense that he put all the
                    material available to him to good use, after the archives were opened to research in the aftermath
                    of the fall of the Soviet Union.
                </p>

                <p> I guess to me, what I found I got most out of this book, was the enormous tragedy of the entire
                    conflict. The depth of pointless pain and suffering inflicted on the soul of Europe was illustrated
                    as far as possible by Beevor, all through an engaging story. I’m biased towards the wider view of
                    such events, preferring them placed in the context of a grander vantage point instead of the minutia
                    of details that form them. However, I found Antony Beevor struck the balance just right between the
                    nitty gritty of the every day, and the perspective of the importance of Stalingrad within the whole
                    stream of events that comprised World War Two.
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}