{% extends "layout-main.html" %}
{% block content %}

    <div class="ui container">
        <h1 class="ui header">The Name of the Rose</h1>
        <h5 class="ui header">By Umberto Eco</h1>
        <div class="ui card">
            <div class="content">
                <div class="description">
                    <p>The Name of the Rose by Umberto Eco is still fresh in my mind, 
                        as fresh as the sincere curiosity of Adso when he enters that 
                        diabolical monastery at the start of the story. Umberto takes
                        a seemingly alien, cryptic and far removed period of history 
                        and brings it to a supreme fullness of life that is both extremely
                        intelligent and erudite, and also comedically witty and satirical;
                        this combination is the formula for the success of this book, 
                        where an everyday reader can feel the connection to a 14th century 
                        Franscican monk who had studied with both Francis Bacon and William of Occam.
                        The pleasure in reading this book also lies in the stunningly beautiful writing
                        that Eco employs to describe the mediaeval way of life the Benedictine monks 
                        are living, in all the fantastic imagery, symbolism and philosophy of the Catholic
                        world of Western Europe at this time, as well as the gruesome, tyrannical and absurd
                        schisms and rents in the men of God. Reading this work, one feels both the sublimity 
                        and perversity of the monastic life.</p>
                        
                <p> At its core, this novel is a murder mystery whose protagonist Adso, a German Benedictine monk
                     from Germany, plays Watson to his co-protagonist and mentor Brother William of Baskerville, an English Fransciscan,
                      is a Sherlock Holmes figure whose task it is to solve the abbot’s problem and discover the source of a series of murders
                       which have been taking place against the monks of this remote Italian monastery. Brother William utilises the philosophy 
                       of empiricism, scepticism and a form of proto-science to reach his conclusions, uncovering connections and clues through 
                       his sharp reasoning. These tools are what enabled him to be such an effective inquisitor in his day, and are what he uses throughout 
                       the novel, often to the confusion and consternation of poor young Adso of the faith. William is at at the core of one of the themes of 
                       the book, the light of Truth, logic and liberal thinking which is set against the Dark of obfuscation, confusion and absolutism; William
                        is often at odds with the ideology of the abbot and other monks of his time, who take a dogmatic approach to the faith and heresy. There 
                        is also another theme that William incarnated, that of realist, common sense connected to the world around him at odds with the trancedelist
                         naivete that the ecclesiastical echelons of the monastery, that is so disconnected from reality, that none of them can make an argument without
                          referring to scripture, and they don’t even even speak the ‘vulgar’ language of the surrounding settlements. A quote that sums up Brother Williams
                           character to me is as follows, seen through the eyes of Adso:</p>
                    <p><em>“And you”, I said with childish impertinence, “never commit errors?”
                        “Often,” he answered. “But instead of conceiving only one, I imagine many, so I become the slave of none”.
                        </em></p>

                <p>As previously mentioned the setting of this novel is not popular history. It is set within the 14th century of mediaeval Europe in Italy, and it is a time 
                    of disillusionment with the Machievallian politics of the Pope and Empire and all the petty infighting that is taking place within the Church itself. The 
                    supremacy of the monastic order over the lives of their ‘flock’ is diminishing, as the secular cities of Italy grow in both population and power; where faith
                     had once reigned, money had taken its place. The guilds and popular governments of the cities now grant the power that was once the sole prerogative of the
                      Church, and this penury influence has infiltrated the ecclesiastical institution up to the Pope himself; the great crisis is dogma that is being deliberated 
                      in the time the book is set is the poverty of Jesus Christ and whether the Church should be emulating the Messiah and his apostles. But even the selfless, 
                      Spiritual Franciscans who are professing this impecuniary philosophy have as their benefactor the Emperor of the Holy Roman Empire, who is using their authentic
                       piety for his own political machinations. Thus, this is a world of disillusioned religion, plagued by the many vices that their Order is preaching against, the
                        temporal infection of human fallacy. 

                </p>

                <p>
                    The subject matter could be as dry as dust; mediaeval Christian theological disputations aren’t the most relevant ideas for a modern reader approaching The Name of The 
                    Rose; however, Eco conveys and transforms these seemingly erudite subjects into canvases of colour and spectacle; his vivid descriptions of the abbey’s church as Adso and 
                    Brother William first enter the monastery are spectacularly both beautiful and grotesque, the numerous book and illustrations within these books are tenderly wrote and uniqueness 
                    of all his character’s appearances keep us invested and maintain the distinctiveness of all of the monks. The physical descriptions of the world of mediaeval Northern Italy are not 
                    the only components of the writing that make the story appealing, Eco’s employs some of the most intelligent, witty and dramatic examples of dialogue between characters that I’ve read; 
                    it is filled to the brim with esoteric ideas, spoken in the most engaging language that is poetically inflamed; you can feel the intensity for the word and faith of God that these monks 
                    have centred their entire lives around. It is pivotal to their existence. Despite the atheistic ideas that are predominant in most Western Europeans today, this colourful evocation of Christianity
                     when it was ascendent, will put even the most vehement anti-theists back into the mindsets of these die hard theologists. 

                </p>

                <p>

                    This book came to me through my reading of Umberto Eco’s Foucault’s Pendulum, which demonstrated the elegance and intelligence of his writing; his first book was great, but when I read the first few chapters 
                    of this novel, I knew that I had encountered an entirely different beast, one that kept my attention laser focused throughout rest of the novel. There was not one scene or chapter that failed to grip me, one of
                     the indications for me that I’m in love with a piece of fiction. It’s always an amazing feeling starting the new year by finding a brand new author or book that you love; last year it was Infinite Jest by David 
                     Foster Wallace, and this year it was The Name of the Rose by Umberto Eco. I look forward to his next little talisman. 


                </p>
                </div>
            </div>
        </div>
    </div>
</html>
{% endblock %}
