{% extends "layout-main.html" %}

{% block content %}
<div class="ui container about" style="padding:5px">
    <div class="text">
        <p>This is my little website for posting reviews of the books I've read. It's a work in progress so you
            might see some drastic changes
            over the course of the next few months. I will post updates once I have the functionality to handle
            updates, so yeah, stay tuned in.
            I will be posting my websites email, as well as providing you with the opportunity to subscribe to my as
            of yet non existent newsletter.
            This site is about to explode!!!
        </p>



    </div>

</div>
<div class="image" style="text-align: center;">
    <img src="/static/images/Jacob.jpg" style="max-width: 40%;">
</div>

{% endblock %}