{% extends "layout-main.html" %}

{% block content %}
<div class="ui container about" style="padding: 20px;">
    <div class="text">
        <p>
            Welcome to my little website for posting reviews of the books I've read. It's a work in progress, so you
            might see some drastic changes over the next few months. Stay tuned for updates as I add new features,
            including a newsletter subscription and contact information.
        </p>
    </div>
</div>
<div class="image" style="text-align: center; margin-top: 20px;">
    <img src="/static/images/Jacob.jpg" alt="Jacob's Profile Picture" style="max-width: 40%; border-radius: 10px;">
</div>
{% endblock %}