{% extends "layout-main.html" %}
{% block content %}

    <div class="ui container">
        <h1 class="ui header">Welcome to Jacob's book reviews</h1>
        <p>This is the index page for all the avaliable reviews and latest content.</p>
        <p>Click one of the review title's below to start reading:</p>
        <ul>
            {% for i in range(reviews|length) %}
                <li>
                    <a class="ui teal button" style="margin-top: 10px;"  href="/reviews/{{reviews[i]}}">{{ p_reviews[i] }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="ui centered image" style="margin-top: 20px;">
            <img src="https://i.pinimg.com/originals/90/99/3d/90993da9bd6eec4611167cbafa58decf.gif">
          </div>
    </div>
    {% endblock %}

